body{
	font-family: monospace;
}

header{
	display: block;
	background: #BBBBBB;
	padding: 20px 0;
}

.cabecalho{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top:110px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 20px;
}

nav a{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	color: #000000;
	text-decoration: none;
}

main {
	width: 100%;
	height: auto;
}

form {
	margin: 40px 40px;
}

form label, form legend {
	display: block;
	font-size: 18px;
	margin: 0 0 20px;
}

.input_padrao, .edt_text_padrao{
	display: block;
	margin: 0 0 5px;
	padding: 10px 0;
	width: 50%;
}


.checkbox {
	margin: 20px 0;
}

#enviar {
	display: block;
	padding: 15px 10%;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s background;
}

#enviar:hover{
	background: green;

footer {
	text-align: center;
	background: url("bg.JPG");
	padding: 40px 
}

.copyright{
	color: #FFFFFF;
	font-size: 10px;
	margin-top: 20px;
}